:root {
    --modal-background: rgba(123, 161, 72, 0.935);
    --form-background: rgb(207, 217, 227);
    --button-background: rgb(18, 156, 18);
    --button-color: rgb(255, 255, 255);
    --card-background: lightblue;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100vh;
}

/*****************/
/***** BOOK CARDS *****/
.table-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; */
    padding: 30px;
}
table {
    background: var(--card-background);
    padding: 20px;
    width: 90vw;
}
table th, table td {
    border: 1px solid black;
    padding: 8px;
}
table th {
    padding: 12px 8px;
    text-align: left;
    background-color: #70a61a;
    color: white;
}

/*****************/
/***** FORM *****/
.modal.hidden {
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--modal-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal form {
    width: 400px;
    padding: 20px;
    background: var(--form-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.modal form input:not([type='checkbox']) {
    width: 80%;
    padding: 10px;
}
.modal form button  {
    color: var(--button-color);
    width: 60%;
    background: var(--button-background);
    padding: 10px;
    border: none;
    border-radius: 10px;
}

